@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo electrónico confirmado";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
