@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de olvido de contraseña";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<p class="justify-content-center align-items-center text-center">
    Por favor revisa tu correo electrónico.
</p>
