@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reseteo de contraseña confirmada";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<p>
    Tu contraseña se ha reseteado. Por favor <a asp-page="./Login">presiona aquí para poder iniciar sesión</a>.
</p>
