@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Mundo de Pokémon</h1>
    <p>Únete a la aventura definitiva de Pokémon donde puedes convertirte en un maestro Pokémon, administrar tu propio equipo y desafiar a otros entrenadores en emocionantes batallas.</p>

    <div class="intro-image">
        <img src="https://c4.wallpaperflare.com/wallpaper/915/77/76/pokemon-wallpaper-preview.jpg" alt="Aventura Pokémon" class="responsive-image">
    </div>

    <h2>Roles Disponibles</h2>
    <p>Tu rol define tus diferentes funciones y responsabilidades:</p>
    <ul class="list-unstyled roles-list">
        <li><strong>Entrenador:</strong> Forma y entrena tu equipo Pokémon, desafía y envía mensajes a otros entrenadores, gestiona tus propios Pokémon y lleva a tus Pokémon a la enfermería.</li>
        <li><strong>Administrador:</strong> Gestiona el Pokedex, administra la información de los Pokémon (nombre, debilidad, tipo, evoluciones, peso, número) y controla los usuarios del juego.</li>
        <li><strong>Enfermero:</strong> Atiende las peticiones de los entrenadores para cuidar y sanar a sus Pokémon.</li>
    </ul>

    <h2>Comienza tu Aventura</h2>
    <p>Regístrate ahora y comienza a explorar el grandioso mundo de Pokémon. ¡La aventura y la emoción te esperan!</p>
</div>

